.btn-purchase {
  background-color: #f85f13;
  color: white;
  outline: 0;
  border: 0;
  padding: 10px 10px;
}
.btn-purchase:hover {
  background-color: #d64d09;
}

.price,
.model {
  color: #f85f13;
  font-size: 20px;
  font-weight: 700;
}
